<!DOCTYPE html>
<html>
<head>
	<title>Locate your relatives !</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" type="text/css" />
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8AjcbaecqJq9hUNRNMCEP5kpFNQfSBaA"></script>
	<script type="text/javascript" src="javascripts/appGeolocation.js"></script>
</head>

<body onload="initializeMap()">
<div class="container">

<div class="row">
	<div id="map-canvas" class="col-md-12">
	</div>
</div>

</div>
</body>
</html>