<!DOCTYPE html>
<html ng-app="geoApp">
<head>
	<title>Locate your relatives !</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.2/normalize.css" type="text/css" />
	
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-cookies.js"></script>
	<script type="text/javascript" src="javascripts/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8AjcbaecqJq9hUNRNMCEP5kpFNQfSBaA"></script>
	<script type="text/javascript" src="socket.io/socket.io.js"></script>
	
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
	<script type="text/javascript" src="javascripts/main.js"></script>
	<script type="text/javascript" src="javascripts/controllers.js"></script>
</head>

<body>
<div class="container">

<div ui-view id="viewPoint">
</div>

<!-- Login template -->
<script type="text/ng-template" id="/login.html">
<div id="login">
	<h1>
		Welcome {{you.name}}
	</h1>
	<p>
		Please log in by tipping your name (or whatever you want the others to call you).<br>
		Your data will be deleted after you disconnect from the service.
	</p>
	<form ng-submit="submitLogin()">
		<input type="text" ng-model="you.name" required /><br>
		<button type="submit">Login</button>
	</form>
</div>
</script>

</div>
</body>
</html>